.display-none {
  display: none;
}
.display-none-768 {
  display: none;
}

.paragraph-1120 {
  display: none;
}

.display-about-view-read-more {
  display: inline;
}

@import './base/fonts';

@import './blocks/settings';
@import './blocks/header';
@import './blocks/title';
@import './blocks/subtitle';
@import './blocks/about';
@import './blocks/read-more';
@import './blocks/main';
@import './blocks/swiper-container';
@import './blocks/swiper';
@import './blocks/types-of-repairs';
@import './blocks/footer';
@import './blocks/brends';
@import './blocks/footer-main';
@import './blocks/price';
@import './blocks/burger';
@import './blocks/footer-burger';
@import './blocks/form';
@import './blocks/modal-call';
@import './blocks/modal-feedback';
@import './blocks/nav-burger';
@import './blocks/nav-info';

@import '../scss/base/media';
